apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: LoadBalancer  # created external public ip for access
  selector:
    app: frontend
  ports:
  - port: 3000  
    targetPort: 3000  